@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,100&family=Courgette&family=Titillium+Web:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    /* scroll-behavior: smooth; */
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    color: #1a1110;
    position: relative;
    background-color: #FCF5C7;
}

h1, h2, h3, h4{
  font-family: 'Chivo', sans-serif;
    color: #314054;
    font-weight: 100; 
    text-align: center;
}

p {
  color: #1a1110;
  text-align: center;
}

#logo {
    float: left;
    font-family: 'Courgette', cursive;
    font-size: 400%;
    /* letter-spacing: 2px; */
    color: #2E4057;
    
}
/*Navigation*/
header {
  display: flex;
  flex-direction: column; /*column. Maybe add special rules in media query using columns if you want to use rows here.*/
  align-items: center;
  justify-content: space-between;
}
li {
    display: inline;
    float: right;
    padding: 12px;
    list-style-type: none;
    font-size: 20px;
  }

  /* a {
    display: block;
    padding: 6px 0 8px;
  } */
  li a {
    display: block;
    color: #083D77;
    text-align: center;
    /* padding: 10px 15px; */
    text-decoration: none;
    /* padding-bottom: 3px; */
  }
/* #menu a {
    text-decoration: none;
    padding-bottom: 3px;
} */

  li a:hover {
    border-bottom: 1px solid #083D77;
  }

  .active {
    border-bottom: 1px solid #083D77;
    padding-bottom: 3px;
}

/*Cover-image*/
.container {
    position: relative;
    width: 100%;
}
  
  .hero-image {
    display: flex;
    width: 100%;
    height: auto;
  }
  img {
    width:100%; 
    height:550px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 550px;
    /*height: 100%; change the width and remove the hover effect change the opacity to 0 if we stick with 50 and no hover.*/
    opacity: 0.8;
    background-color: #FFEE93;
  }
  
  .text {
    position: absolute;
    top: 50%; 
    left: 50%;
    font-size: 40px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text h1 h4 {
    color: #100c08;
  }
 
/*Why join the club*/
#join {
  /* background-color: #B2BD7E; */
  margin-top: -7px;
  margin-bottom: -23px;
  padding-bottom: 4rem;
  background-color: #FCF5C7;
  /*add disply flex to get the "desired" look*/
  /*margin top of -7px and margin bottom of -23px can reduce the gap. The padding bottom can be removed if the attched box is preffered.*/
}

#why-join-us {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: -10px;
    color: #2E4057;
    /* text-decoration: underline; */
}
.reasons {
  display: flex;
  padding: 7px;
}
.reasons p {
padding: 6px;
font-size: 23px;
}
.reasons h2 {
  text-decoration: underline;
  font-size: 30px;
}
.why {
  flex: 50%;
  border: solid brown;
  /* border-radius: 20px ;  Maybe change the text style to make it more clear if used border*/
  margin: 1rem 1rem 0 1rem;
  box-shadow: 14px 0px 2px 1px rgb(0 0 0);
  /* background-color: #5d7d1b70; */
  background-color: #ECCE8E;

}
/* .why {
    padding: 20px;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: row; here this would lead to headings in the center 
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    border: solid brown;
    border-radius: 20px ; 
} */

/* .why {
padding: 20px;
text-align: center;
margin: 1rem 1rem 0 1rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
border: solid brown;
border-radius: 20px;
} */

hr {
    border-bottom: 5px solid #1a1110;
}
/*Youtube video*/
#video {
  /* background-color: #749C75; */
  margin-top: -23px;
  margin-bottom: -1px;
  padding-bottom: 10px;

}
#video h2 {
  font-size: 40px;
  padding-top: 10px;
}
/* #video h3 {
  font-size: 32px;
} */
#video h2, h3 {
  color: #314054;
}


  /*Contact and maps*/
  /* #contact {
    background-color: #6A5D7B;
    margin-top: -23px;
  } */
  .map-and-form {
    display: flex;
  }
  .info{
    text-align: center;
    font-size: 40px;
    /* padding-top: 2.3rem; */
  }
  /*maybe add an address and time tag? */
#contact h4{
  font-size: 23px;
}
  /* #map  > p {
    color: maroon;
  } */
  .imap {
    margin-left: 2rem;
  }
  label {
    display: block;
    margin-top: 13px;
  }
  /* label:first-of-type{
    margin-top: 0;
  } */
  .radio label {
    margin-top: 0;
  }
  
  #contact-form {
    display: flex;
    background-color: #F2F3D9;
    flex-direction: column;
    /* min-width: 200px; */
    margin: 2em 0;
    padding: 1em 2em;
    align-items: center;
    border: 5px solid;
    margin: 0 10px 9px; 
    border-radius: 18px;
  }
  #contact-form > h2 {
    font-size: 40px;
  }
  /* #contact-form > p {
    color: white;
  } */
  .text-input {
    background: transparent;
    color: black;
    width: 100%; /*90 looks good*/
    /* height: 10px; */
    /* margin: 3px 0 3px 0; */
    border: none;
    border-bottom: 1px solid black;
}
input[type=radio] + label {
  display: inline-block;
  margin-top: 0;
  padding-top: 0;

}
input[type=radio] {
  margin-left: 1.5em;
  margin-right: 0;
}
input[type=radio]:first-of-type {
  margin-left:0;
}
textarea {
  border: 1px solid #100c08;
  border-radius: 10px;
  min-height: 80;
  min-width: 100;
}
.submit-button{
  display: block;
  margin-top: 30px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  border-radius: 40px;
  color: #f5f5f5;
  background-color: green;

}
.submit-button:hover{
  color: navajowhite;
  background-color: darkgreen;
}
.submit-button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px;
}
select {
  border: 1px solid black;
  border-radius: 30px;
  width: 80%;
}
/*Centering iframe elements*/
iframe {
  display: block;
  padding-bottom: 7px;
  margin: 0 auto;
  /* margin-left: auto; */
  /*margin-right: auto; */
}
  /*Footer*/
footer {
    height: 110px; 
    background-color: #3a3a3a;
    width: 100%;
}
footer p {
    color: #f5f5f5;
    font-style:'Titillium Web', sans-serif;
    text-align: center;
}
#social-links {
  margin: 0 auto;
}
footer li{
  display: inline-block;
  margin: 0 auto;
} 
#social-links{
  display:flex;
  flex-direction: row;
  /*align-items:center;*/
  justify-content: center;
  width:max-content;
} 
#social-links i {
  font-size: 23px;
  margin: 1%; 
  padding: 5%; 
  color: #f5f5f5;
  left: 60%; 
} 
/*Media queries*/
/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
  .overlay {
    position: absolute;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    height: 550px; /*Maybe 480px for a look where more of the picture can be seen*/
    width: 60%;
    opacity: 1;
    background-color: #E9D985;
  }
  .text {
    font-size: 30px;
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  iframe {
    width: 80%;
    height: 60;
  }
  div .map-and-form {
    display: flex;
    flex-direction: column;
  }
  textarea {
    width: 100%;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) {
  .map-and-form {
    display: flex;
    flex-direction: column;
}
#logo {
  font-size: 369%;
}
.text {
  font-size: 25px;
}
}
@media (min-width: 320px) and (max-width: 480px) {

  .text {
    font-size: 18px;
  }
  li {
    font-size: 12px;
  }

  .reasons p {
    font-size: 16px;
  }
  .reasons h2 {
    font-size: 28px;
  }

.reasons {
  display: flex;
  flex-wrap: wrap;
}
  iframe {
    /* width: auto;
    height: auto; */
    width: 80%;
    height: 60;
  }

  textarea {
    width: 100%;
  }
  .map-and-form {
    flex-direction: column;
  }
  #contact-form > h2 {
    font-size: 30px;
  }
  img {
    height: 370px;
  }
  .overlay {
    height: 370px;
  } 
  #logo {
    font-size: 230%;
  }
}

@media (min-width: 1668px) and (max-width: 2560px) {
  #contact-form {
    margin-right: 5rem;
  }
}
