@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,300&family=Courgette&family=Titillium+Web:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    color: black;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Chivo', italic;
    color: #1a1110;
    font-weight: 400; 
}

#logo {
    float: left;
    font-family: 'Courgette', cursive;
    font-size: 280%;
    color: #100c08;
    text-align: center;
    
}

/*Navigation*/
#menu {
    font-size: 100%;
    letter-spacing: 4px;
}
/* .bar {
    position:fixed;
    top:0;
    color: black;
    background-color: #f5f5f5;
    width:100%;
    left:0;
  } 
  li{
    display: inline;
  } */

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 100%; 
    
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    
}
ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}
/*Cover-image*/
.container {
    position: relative;
    width: 100%;
}
  
  .hero-image {
    display: flex;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFE77AFF;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/*Why join the club*/
#reason {
    text-align: center;
    font-size: 250%;
    padding-top: 20px;
    margin-top: 20px;
    /* text-decoration: underline; */
}

.why {
    padding: 10px;
    text-align: center;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    border: solid brown;
    border-radius: 20px ;  
}

hr {
    border-bottom: 5px solid #1a1110;
}
/*Youtube video*/
.youtube > h3, p{
    color: #1a1110;
    text-align: center;
    margin: 0 auto;
}

.center {
    display: block;
    margin: 0 auto;

}
/* .iframe{
    position: relative;
    width: 100%;
    height: 0;
    display: block;
    margin: 0 auto;
  } */
  /* .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
 footer {
    height: 70px; 
    background-color: #3a3a3a;
}
footer p {
    color: #f5f5f5;
    font-style:'Titillium Web', sans-serif;;
}
