@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,300&family=Courgette&family=Titillium+Web:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    color: black;
}

h1, h2, h3 {
    font-family: 'Courgette', cursive;
    color: #1a1110;
    font-weight: 400; 
}

#logo {
    font-size: 300%;
    text-align: center;
    
}